target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
user-service/HELP.md
auth-service/.idea/misc.xml
auth-service/.idea/compiler.xml
auth-service/.idea/workspace.xml
auth-service/.idea/encodings.xml
auth-service/.idea/vcs.xml
